# IPython checkpoints
.ipynb_checkpoints

# Python cache
__pycache__

# Virtual environmens
.env

# Poetry
# poetry.lock
.venv

# Wandb artifacts
*wandb

# Log artifacts
*.log

# Model checkpoints
*.pt